<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-danger">Lifetime Stats</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      {{dashboard-metric model=model.total title="Total"}}
    </div>

    <div class="col-sm-2">
      {{dashboard-metric model=model.runs title="Runs"}}
    </div>

    <div class="col-sm-2">
      {{dashboard-metric model=model.rides title="Rides"}}
    </div>

    <div class="col-sm-2">
        {{dashboard-metric model=model.swims title="Swims"}}
    </div>


  </div>
</div>
