<h4>{{title}}</h4>
<p class="text-large"><span class="text-success">{{model.distance}}</span> miles</p>
<p class="text-large"> <span class="text-warning">{{model.count}}</span> activities</p>
<p class="text-large"> <span class="text-primary">{{model.duration}}</span> Seconds</p>
