<h2 class="text-primary">Runkeeper<small> June 2013 - March 2014</small></h2>
{{model.length}} of Activities
<div class="row">
  <div class="col-sm-12">
    {{activity-table model=model}}
  </div>
</div>
