<h2 class="text-primary">Before API's<small> :)</small></h2>
<div class="row">
  <div class="col-sm-12">
    <p>
      Totals that I have from a discontinued Nike service.
    </p>
    <p>
      ## 2005<br/>
      <br/>
      RUNNING<br/>
      Number of Times: 12<br/>
      Total Distance: 45.7 mi<br/>
      Total Time Engaged: 08:57:21<br/>
      <br/>
      CYCLING<br/>
      Number of Times: 7<br/>
      Total Distance: 49.3 mi<br/>
      Total Time Engaged: 02:53:49<br/>
      <br/>
      SWIMMING<br/>
      Number of Times: 2<br/>
      Total Distance: 0.5 mi<br/>
      Total Time Engaged: 00:36:30<br/>
      <br/>
      ## 2006<br/>
      <br/>
      RUNNING<br/>
      Number of Times: 110<br/>
      Total Distance: 663.71 mi<br/>
      Total Time Engaged: 86:00:41<br/>
      <br/>
      CYCLING<br/>
      Number of Times: 4<br/>
      Total Distance: 35.5 mi<br/>
      Total Time Engaged: 01:57:00<br/>
      <br/>
      SWIMMING<br/>
      Number of Times: 17<br/>
      Total Distance: 16.25 mi<br/>
      Total Time Engaged: 10:14:00<br/>
      <br/>
      ## 2007<br/>
      <br/>
      RUNNING<br/>
      Number of Times: 74<br/>
      Total Distance: 333.53 mi<br/>
      Total Time Engaged: 48:55:14<br/>
      <br/>
      CYCLING<br/>
      Number of Times: 12<br/>
      Total Distance: 246.84 mi<br/>
      Total Time Engaged: 16:15:02<br/>
      <br/>
      SWIMMING<br/>
      Number of Times: 6<br/>
      Total Distance: 4.85 mi<br/>
      Total Time Engaged: 02:29:00<br/>
    </p>
  </div>
</div>
