<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Runners Q</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul>
          {{#each model as |activity|}}
          {{activity.duration}}
          {{/each}}
        </ul>
      </div>
    </div>
</div>

{{outlet}}
