<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{link-to "RunnersQ" "index" class="navbar-brand"}}
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>{{#link-to 'weekly'}}Weekly{{/link-to}}</li>
          <li>{{#link-to 'monthly'}}Monthly{{/link-to}}</li>
          <li>{{#link-to 'yearly'}}Yearly{{/link-to}}</li>
          <li>{{#link-to 'lifetime'}}Lifetime{{/link-to}}</li>
          <li>{{#link-to 'activity'}}Archive{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{{outlet}}
