<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Runners Q</h2>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="list-group sidebar-nav-fixed">
        {{link-to "Strava" "activity.strava" class="list-group-item"}}
        {{link-to "All" "activity.allTime" class="list-group-item"}}
        {{link-to "History" "activity.history" class="list-group-item"}}

      </div>
    </div>
    <div class="col-sm-10">
      {{outlet}}
    </div>
</div>
