<h2 class="text-primary">Nike<small> December 2008 - June 2013</small></h2>
{{model.length}} of Activities
<div class="row">
  <div class="col-sm-12">
    {{activity-table model=model}}
  </div>
</div>
